<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, veritatis. Fugiat earum blanditiis a eos inventore tenetur ipsum obcaecati est culpa quam, itaque, reprehenderit, veritatis sapiente? Ipsum, atque. Quisquam, voluptates.</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="products">Products</a></li>
      <li><a routerLink="/pico-preview">Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
